@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, blockquote, th, td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:after, q:before, q:after, q:before {
  content: ''; }

a {
  text-decoration: none;
  color: #000;
  outline: none; }

form input:focus, form textarea:focus {
  outline: none; }

a, span, p, h1, h2, h3, h4, h5, h6, input, textarea {
  -webkit-font-smoothing: antialiased; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header, nav, section, article, aside, footer {
  display: block; }

textarea::-webkit-input-placeholder {
  opacity: 1; }

textarea::-moz-placeholder {
  opacity: 1; }

textarea:-moz-placeholder {
  opacity: 1; }

textarea:-ms-input-placeholder {
  opacity: 1; }

input::-webkit-input-placeholder {
  opacity: 1; }

input::-moz-placeholder {
  opacity: 1; }

input:-moz-placeholder {
  opacity: 1; }

input:-ms-input-placeholder {
  opacity: 1; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }
.saiFormStyle {
  font-family: "robotolight";
  color: #333;
  font-size: 16px;
  line-height: 20px;
  /* Select */
  /* End */
  /* Number */
  /* End */
  /* Radio */
  /* End */
  /* Checkbox */
  /* End */
  /* File */
  /* End */ }
  .saiFormStyle textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle textarea::-moz-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle textarea:-moz-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle textarea:-ms-input-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle input::-webkit-input-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle input::-moz-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle input:-moz-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle input:-ms-input-placeholder {
    opacity: 1;
    color: #333; }
  .saiFormStyle fieldset {
    font-size: 0; }
  .saiFormStyle .false_required {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }
  .saiFormStyle .message_false {
    color: #f00;
    display: none;
    font-family: "robotolight";
    font-size: 16px;
    padding: 0;
    margin: 0 0 10px; }
  .saiFormStyle input {
    height: 40px;
    font-family: "robotolight";
    font-size: 16px;
    padding: 0 0 0 15px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    color: #333;
    transition: 0.5s;
    display: block;
    width: 100%;
    margin: 0 0 10px; }
    .saiFormStyle input:focus {
      border: 1px solid #e0e0e0;
      background-color: #fff;
      box-shadow: 0px 0 30px rgba(0, 0, 0, 0.2); }
  .saiFormStyle textarea {
    height: 300px;
    font-family: "robotolight";
    font-size: 16px;
    padding: 15px 0 0 15px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    color: #333;
    transition: 0.5s;
    display: block;
    width: 100%;
    margin: 0 0 10px;
    resize: none; }
    .saiFormStyle textarea:focus {
      border: 1px solid #e0e0e0;
      background-color: #fff;
      box-shadow: 0px 0 30px rgba(0, 0, 0, 0.2); }
  .saiFormStyle label {
    color: #333;
    font-size: 16px;
    font-family: "robotolight"; }
  .saiFormStyle select {
    display: none; }
  .saiFormStyle .select_wrapper {
    position: relative;
    margin: 0 0 10px;
    transition: 0.5s; }
    .saiFormStyle .select_wrapper .selected {
      display: none; }
    .saiFormStyle .select_wrapper .input_wrapper {
      position: relative; }
      .saiFormStyle .select_wrapper .input_wrapper .layer {
        position: relative;
        font-family: "robotolight";
        color: #333;
        line-height: 20px;
        min-height: 40px;
        margin: 0;
        padding: 9px 40px 9px 15px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        cursor: pointer;
        z-index: 10;
        transition: 0.5s; }
        .saiFormStyle .select_wrapper .input_wrapper .layer:after {
          content: "";
          font-family: "FontAwesome";
          position: absolute;
          right: 20px;
          top: 0;
          line-height: 40px;
          transition: 0.5s; }
      .saiFormStyle .select_wrapper .input_wrapper .layer.active {
        transition: 0.5s; }
    .saiFormStyle .select_wrapper .select {
      display: none;
      position: absolute;
      background-color: #fff;
      width: 100%;
      z-index: 100;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      left: 0px;
      top: 42px;
      box-sizing: border-box;
      margin: 20px 0 0;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2); }
      .saiFormStyle .select_wrapper .select li {
        padding: 10px 40px 10px 15px;
        border-bottom: 1px solid #e0e0e0;
        cursor: pointer;
        background-color: #fff;
        -moz-user-select: none;
        font-family: "robotolight";
        line-height: 20px;
        margin: 0;
        list-style: none;
        font-size: 16px;
        transition: 0.5s; }
  .saiFormStyle .number {
    position: relative;
    padding: 0 80px 0 0;
    margin: 0 0 10px;
    border: 1px solid #e0e0e0;
    transition: 0.5s; }
    .saiFormStyle .number:before {
      content: '';
      display: block;
      clear: both; }
    .saiFormStyle .number:after {
      content: '';
      display: block;
      clear: both; }
    .saiFormStyle .number input {
      border: none;
      margin: 0;
      text-align: center;
      padding: 0;
      box-shadow: none !important;
      padding: 0 10px; }
      .saiFormStyle .number input:hover {
        color: #333;
        background-color: #fff; }
    .saiFormStyle .number .left {
      float: left;
      width: 100%;
      padding: 10px 25px 10px 15px;
      margin: 0;
      border-right: 1px solid #e0e0e0; }
    .saiFormStyle .number .right {
      float: right;
      width: 55px;
      margin-right: -55px; }
    .saiFormStyle .number .up {
      font-family: "FontAwesome";
      content: "\f106";
      right: 0;
      top: 0;
      line-height: 20px;
      width: 20px;
      height: 50%;
      border: 1px solid #e0e0e0;
      border-top: none;
      border-right: none;
      text-align: center;
      display: block;
      cursor: pointer;
      position: absolute; }
      .saiFormStyle .number .up i {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -9px 0 0; }
    .saiFormStyle .number .down {
      font-family: "FontAwesome";
      content: "\f107";
      right: 0;
      bottom: 0;
      line-height: 20px;
      width: 20px;
      height: 50%;
      text-align: center;
      border: 1px solid #e0e0e0;
      border-bottom: none;
      border-right: none;
      border-top: none;
      display: block;
      cursor: pointer;
      position: absolute; }
      .saiFormStyle .number .down i {
        position: absolute;
        bottom: 50%;
        left: 0;
        right: 0;
        margin: 0 0 -9px; }
  .saiFormStyle .radio {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: top;
    margin: 0 10px 10px 0;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 100px;
    position: relative; }
    .saiFormStyle .radio input {
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 0;
      z-index: 1;
      opacity: 0; }
    .saiFormStyle .radio label {
      background-color: #fff;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 100px;
      z-index: 10;
      display: block;
      cursor: pointer;
      border: 5px solid #fff;
      transition: 0.5s; }
    .saiFormStyle .radio input:checked + label {
      background-color: #64A8D1; }
  .saiFormStyle .checkbox-with-text {
    padding-left: 30px;
    position: relative;
    margin: 0 0 10px; }
    .saiFormStyle .checkbox-with-text .checkbox {
      position: absolute;
      left: 0;
      top: 0; }
  .saiFormStyle .checkbox {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    vertical-align: top;
    margin: 0 10px 10px 0;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    position: relative; }
    .saiFormStyle .checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 0;
      z-index: 1;
      opacity: 0; }
    .saiFormStyle .checkbox label {
      background-color: #fff;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 10;
      display: block;
      cursor: pointer;
      transition: 0.5s;
      position: relative; }
      .saiFormStyle .checkbox label:after {
        font-family: "FontAwesome";
        content: "\f00c";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        line-height: 20px;
        color: #64A8D1;
        transition: 0.5s;
        opacity: 0; }
    .saiFormStyle .checkbox input:checked + label:after {
      opacity: 1; }
    .saiFormStyle .checkbox p {
      display: inline-block;
      vertical-align: middle;
      margin: -10px 0 0;
      color: #333;
      font-family: "robotolight";
      font-size: 16px; }
  .saiFormStyle .file {
    display: block;
    min-height: 40px;
    vertical-align: top;
    margin: 0 10px 10px 0;
    background-color: #fff;
    position: relative; }
    .saiFormStyle .file input {
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 0;
      z-index: 1;
      opacity: 0; }
    .saiFormStyle .file label {
      border: 1px solid #e0e0e0;
      background-color: #fff;
      width: auto;
      line-height: 40px;
      font-family: "robotolight";
      font-size: 16px;
      padding: 0 20px;
      position: relative;
      z-index: 10;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      transition: 0.5s;
      position: relative; }
      .saiFormStyle .file label:after {
        font-family: "FontAwesome";
        content: "\f00c";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        line-height: 20px;
        color: #64A8D1;
        transition: 0.5s;
        opacity: 0; }
    .saiFormStyle .file span {
      display: inline-block;
      vertical-align: middle;
      font-family: "robotolight";
      font-size: 16px;
      padding: 0 0 0 15px; }
    .saiFormStyle .file input:checked + label:after {
      opacity: 1; }
  .saiFormStyle input[type='submit'], .saiFormStyle button {
    background-color: #64A8D1;
    display: block;
    margin: 0 0 10px;
    font-family: "robotolight";
    font-size: 16px;
    width: 100%;
    text-align: center;
    max-width: 200px;
    padding: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    outline: none;
    transition: 0.5s; }
    .saiFormStyle input[type='submit']:hover, .saiFormStyle button:hover {
      background-color: #333333; }
    .saiFormStyle input[type='submit'].full, .saiFormStyle button.full {
      max-width: 100%; }

form {
  width: 40%;
  margin: 50px 0 0 50px;
  display: inline-block;
  vertical-align: top; }

/*# sourceMappingURL=style.css.map */
